<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<p th:text="${user.getId()}">VALUE</p>
<p th:text="${user.getUsername()}">VALUE</p>
<p th:text="${user.getEmail()}">VALUE</p>
<p th:text="${user.getPassword()}">VALUE</p>
<p th:text="${user.getRoles()}">VALUE</p>

<a th:href="@{/admin/edit/{id}(id=${user.getId()})}">
    <input type="submit" value="Изменить"></a>
<form th:method="delete" th:action="@{/admin/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>
<a th:href="@{/admin}">
    <input type="submit" value="Вернуться"></a>
<form th:action="@{/logout}" th:method="post">
    <input type="submit" value="Выйти">
</form>
</body>
</html>